Program to set up the database for testing

In [9]:
# Imports sqlite3 and csv

import sqlite3

In [55]:
# Creates a database (.db) named materials

materials = sqlite3.connect('materials.db')

In [ ]:
# Drops the materials table

materials.execute('''DROP TABLE materials''')

In [ ]:
# Dictates that the database is populated by name, young modulus and density. Name being the primary key.

materials.execute('''CREATE TABLE MATERIALS
        (ID INT PRIMARY KEY     NOT NULL,
        NAME            TEXT    NOT NULL,
        YOUNG MODULUS   INT     NOT NULL,
        DENSITY         FLOAT   NOT NULL);''')

In [61]:
# Closes the materials table

materials.close()

In [ ]:
# Inserting data into the table

id = 1
name = "Typical Polymer"
ym = 0.01
density = 0.9

materials.execute('''INSERT INTO materials VALUES ('1', 'Typical Polymer', '1', '0.9')''')

In [58]:
# Commits changes to the database

materials.commit()

In [60]:
# Selects all from the materials table

output=materials.execute('''SELECT * FROM materials''')
for row in output:
    print(row)

(1, 'Typical Polymer', 1, 0.9)

In [ ]:
# Opens a .txt file
# format is:
# variable = open("relativepath",'r')

f = open("temp.txt",'r')
if f.mode == 'r':
    content = f.read()
print (content)

In [ ]:
import csv, sqlite3

csv_reader = csv.reader(open('myfile.txt'), skipinitialspace=True)
csv_reader.next()                       
# skip the first line in the file
# ['Parliament', 'Name', 'Country', ...

# put all data in a tuple
# edit: decoding from utf-8 file to unicode
to_db = tuple([i.decode('utf-8') for i in line] for line in csv_reader)
to_db
# this will be inserted into table
# [(u'7', u'Marta Andreasen', u'United Kingdom', ...


# more in https://stackoverflow.com/questions/3270952/populating-a-sqlite3-database-from-a-txt-file-with-python